.hero-image {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 200px;
    max-height: 300px;
    height: 100vh;
    
}


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
}

.hero-text h1 {
    font-size: 4rem;
    margin: 0;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: visible; /* Allow glow to overflow */
    display: inline-block; /* Contain the glow within the element */
    filter: drop-shadow(0 0 10px #eb6864)
            drop-shadow(0 0 20px #eb6864);
}

@media screen and (max-width: 768px) {
    .hero-text h1 {
        white-space: normal;
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .hero-text h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .hero-image {
        background-position: left center;
        min-height: 200px;
        max-height: 600px;
        height: 100vh;
    }
}

/* Custom styles for close buttons */
.close {
  font-size: 1.2rem; /* Adjust the size as needed */
  color: var(--bs-primary); /* Use the primary color defined in your theme */
  background: none; /* Remove any background */
  border: none; /* Remove any border */
  cursor: pointer; /* Change cursor to pointer */
  padding: 0; /* Remove padding */
  line-height: 1; /* Adjust line height */
}

.close:hover {
  color: var(--bs-danger); /* Change color on hover */
}


.edit-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--bs-secondary); /* Set the color to the primary color */
}
.edit-btn i, .delete-btn i {
  font-size: 1.2em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 500px;
  background-color: #f9f9f9;
}

.form-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--bs-primary);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-button:hover {
  background-color: var(--bs-secondary);
}