{% extends "base.html" %}
{% block title %}{{ city.name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ city.name }}, {{ city.country }}</h1>
    
    {% if city.hero_image %}
    <div class="mb-4">
        <img src="{{ city.hero_image }}" alt="{{ city.name }}" class="img-fluid rounded">
    </div>
    {% endif %}
    
    <h2 class="mb-3">Top 5 Things to Do</h2>
    <ul class="list-group mb-4">
        {% for thing in things_to_do %}
        <li class="list-group-item">{{ thing }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}