{% extends "hero_image.html" %}

{% block hero_title %}Masters of Escapism{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>Shared Notes</h1>
    <ul id="notes" class="list-group mb-3"></ul>
    
    {% if current_user.is_authenticated %}
      <form id="add-note-form">
        <div class="input-group mb-3">
          <input type="text" id="new-note" class="form-control" placeholder="Enter a new note" required>
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Add Note</button>
          </div>
        </div>
      </form>
    {% else %}
      <p>Please <a href="{{ url_for('auth.login') }}">log in</a> to add notes.</p>
    {% endif %}
  </div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}