{% extends "hero_image.html" %}
{% block title %}Thailand{% endblock %}

{% block hero_title %}Discover Thailand{% endblock %}

{% block content %}
  <div id="journal-entries" class="margin-top"></div>
  
  {% if current_user.is_authenticated %}
    <form id="journal-form" class="form-container">
      <textarea id="journal-content" class="form-textarea" required></textarea>
      <input type="file" id="journal-photo" accept="image/*" style="display: none;">
      <div>
        <button type="submit" class="btn btn-primary">Add Entry</button>
        <button type="button" id="add-with-photo" class="btn btn-secondary">Add Entry with Photo</button>
      </div>
    </form>
  {% endif %}

  <script>
    const COUNTRY = "thailand";
  </script>
  <script src="{{ url_for('static', filename='js/journal.js') }}"></script>
{% endblock %}