{% extends "hero_image.html" %}
{% block title %}Thailand{% endblock %}

{% block hero_title %}Discover Thailand{% endblock %}

{% block content %}
  <div id="journal-entries" class="margin-top"></div>
  
  <form id="journal-form" class="form-container">
    <textarea id="journal-content" class="form-textarea" required></textarea>
    <button type="submit" class="btn btn-primary">Add Entry</button>
  </form>


  <script src="{{ url_for('static', filename='js/journal.js') }}"></script>
{% endblock %}