{% extends "hero_image.html" %}

{% block title %}Vietnam{% endblock %}

{% block hero_title %}Discover Vietnam{% endblock %}

{% block content %}
  <div id="journal-entries" class="margin-top"></div>
  
  {% if current_user.is_authenticated %}
    <form id="journal-form" class="form-container">
      <textarea id="journal-content" class="form-textarea" required></textarea>
      <button type="submit" class="btn btn-primary">Add Entry</button>
    </form>
  {% endif %}

  <script>
    const COUNTRY = "vietnam";
  </script>
  <script src="{{ url_for('static', filename='js/journal.js') }}"></script>
{% endblock %}